mods
mods/*
logs
logs/*
craftpresence
craftpresence/*
ds_private_storage.json
saves
saves/*
essential
essential/*
modcore
modcore/*
TGMLib
TGMLib/*
shaderpacks
shaderpacks/*
resources
resources/*
.mixin.out
.mixin.out/*
.ReAuth.cfg
.DS_Store
.DS_Store/*